:root {
  --card-height: 65vh;
  --card-width: calc(100vw / 1.5); /* Card width scales with window width */
  font-size: x-large;
}

body {
  min-height: 100vh;
  /*background: #212534;*/
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.444 90.194l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm0-80l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm-40 40l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm80 0l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01z'  stroke-width='1' stroke='none' fill='%23cc59d4ab'/><path d='M60.1 56.175l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234zm-40 0l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234zm40-40l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.852 2.247-1.878-2.883-.234zm-40 0l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.852 2.247-1.878-2.883-.234zm60 60l-1.14 2.751-2.951.135 2.282 1.878-.739 2.886 2.416-1.545 2.448 1.543-.671-2.852 2.246-1.879-2.883-.233zm-80 0l-1.14 2.751-2.951.135 2.282 1.878-.739 2.886 2.416-1.545 2.448 1.543-.671-2.852 2.247-1.879-2.884-.233zm80-80l-1.14 2.751-2.951.135L78.29.939l-.739 2.886 2.416-1.545 2.448 1.543L81.745.97 83.99-.908l-2.883-.234zm-80 0l-1.14 2.751-2.951.135L-1.71.939l-.739 2.886L-.032 2.28l2.448 1.543L1.745.97 3.99-.907l-2.883-.234zm40 40l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234z'  stroke-width='1' stroke='none' fill='%23e99620ff'/><path d='M12 70a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm60 0a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zM12 10a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm60 0a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zM32 30a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm0 20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm20-20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm0 20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2z'  stroke-width='1' stroke='none' fill='hsla(198.7,97.6%,48.4%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
h1 {
  color: #4e00c2;
  font-family: "Titan One", cursive;
  margin-bottom: 20px;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
/* ------------ */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.additional-requirement-container{
  grid-column: span 3;
  display: flex;
}
.submit-btn-container{
  grid-column: span 3;
  display: flex;
  justify-content: center;
}
.form-submit {
  margin-top: 10px;
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
  width: 30%;
}
.form-submit:hover{
  background-color: aquamarine;
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}

.card{
  /* background: url("../images/joke.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: white;
  width: var(--card-width);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: black;
  font-family: "Gloria Hallelujah", cursive;
}

/* .card:hover, #left-card:hover {
  /*color: rgb(88 199 250 / 100%);*/
  /* color:#eb7c0a; */
  /* transition: color 1s; */
/* } */
/* .card:hover:before,
.card:hover:after, #left-card:hover:before, #left-card:hover:after {
  animation: none;
  opacity: 0;
} */ 

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after{
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

#left-card{
  background: url("../images/joke-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: "Gloria Hallelujah", cursive;
}

.content {
  font-size: 1.2rem; /* Default font size */
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 10px;
  display: flex;
  /* align-items: center;
  justify-content: center;
  text-align: center; */

  word-wrap: break-word; /* Ensure long words wrap to the next line */
  word-break: break-word; /* Ensure the text breaks properly */
  max-width: 100%; /* Make sure the content doesn't exceed its container */
  overflow-wrap: break-word; /* Handles long text breaking */
}

.content.auto-size {
  font-size: calc(1rem + 1vw);
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.instruction {
  color: #0d6efd;
  font-size: 24px;
  font-family: "Titan One", cursive;
  
}

.instruction:hover{
  color:#0a58ca
}

#selection-container{
  padding-bottom: 0;
}

.spacer {
  margin-left: 30px; /* Adjust this value to control the space */
}

.joke-info {
  color: #f5ba13;
  font-size: 18px;
  font-family: "Titan One", cursive;
  
}

.joke-container{
  display: flex;
  
}

.audio-container{
  margin-top: 10px;
}